.loadingLine{
    box-shadow: 0px 0px 30px 20px white;
    position: absolute;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.loadingLine2{
    box-shadow: 0px 0px 30px 20px white;
    position: absolute;
    animation-name: loading2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(2000px);
    }
}

@keyframes loading2 {
    0%{
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(500px);
    }
}